<!-- Toggle collapse button -->
<div id="app-navbar" class="navbar navbar-default navbar-fixed-top">
	<div id="nav-region"></div>
</div>
<!-- Main section -->
<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 card-region">
    <div class="scrollable">
    	<div class="container-fluid">
    		<div id="main-region">
    		</div>
    	</div>
    </div>
</div>
