<div class="form-group margin-md">
    <label class="col-md-3 col-xs-2 generator-label text-right">Name</label>
    <div class="col-md-5">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group margin-md">
    <label class="col-md-3 col-xs-2 generator-label text-right">Type</label>
    <div class="dropdown col-md-2 col-xs-2">
      <button class="btn btn-default dropdown-toggle btn-primary text-right btn-select-policy" type="button" id="menu1" data-toggle="dropdown">Select Policy Type
      <span class="caret"></span></button>
        <ul class="dropdown-menu margin-left" role="menu" aria-labelledby="menu1" style="margin-left:15px;">
            <li role="presentation" id="performance" class="dropdown-item"><a role="menuitem">Performance</a></li>
            <li role="presentation" id="update" class="dropdown-item"><a role="menuitem">Update</a></li>
        </ul>
    </div>
</div>