<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="profile-card thumbnail col-xs-9 col-md-12">
        <div class="img-area">
            <div class="col-xs-8 col-md-9">
                <h4 class="text-x">{{name}}</h4>
            </div>
            <div class="col-xs-3 col-md-3">
                <img id="action-service-image" class="img-responsive" align="left" src="../../../../../../img/wine.png">
            </div>
        </div>
    </div>
</div>