<!-- Toggle collapse button -->
<div id="app-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<!-- Do not collapse logo -->
		<div id="logo-region"></div>
		<!-- Collapse everything else -->
		<div id="navbar-landing" class="navbar-collapse collapse">
		    <div id="logo-region"></div>
		    <div id="panel-region"></div>
		    <div id="user-region"></div>
		</div>
    </div>
</div>