<div class="create-container">
    <div class="col-xs-12 col-xs-offset-0 col-md-7 col-md-offset-1 policy-title">
        <h3>Profile Policies</h3>
    </div>
    <div class="col-xs-12 col-md-3 policy-area">
        <button id="create-policy" class="btn btn-primary create-button btn-lg" type="button">
            Create Policy
        </button>
    </div>
</div>
