<!-- Thumbnail scales for lg, md, sm, xs -->
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail col-xs-9 col-md-12">
        <div class="policy-text-area">
            <div class="col-xs-12 col-md-12">
                <h4 class="text-x">{{name}}</h4>
            </div>
        </div>
        <div class="text-center">
            <a id="btn-add" class="btn btn-default" role="button">
                edit
            </a>
            <a id="btn-share" class="btn btn-default toggle-btn" role="button">
                remove
            </a>
        </div>
    </div>
</div>